body{
    margin: 0px;
    width:100%;
    min-width:1500px;
    max-width:100%;
    height:100%;

}
/*头部*/
#top{
    height: 150px;
    /*background: url("images/加盟-1.jpg") no-repeat;*/
    background-size: 100% auto;
}
#logo{
    margin-left: 100px;
    height: 110px;
    display:flex;
}
.search {
    width: 500px;
    height: 50px;
    margin-top: 30px;
    margin-left: 600px;
}

.parent {
    width: 100%;
    height: 42px;
    top: 4px;
    position: relative;
}

.parent>input:first-of-type {
    /*输入框高度设置为40px, border占据2px，总高度为42px*/
    width: 380px;
    height: 44px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.parent>input:first-of-type:focus {
    padding-left: 10px;
}

.parent>input:last-of-type {
    width: 100px;
    height: 44px;
    position: absolute;
    background: #dd2727;
    border: 1px solid #dd2727;
    color: #fff;
    font-size: 16px;
    outline: none;
}
.parent>input:last-of-type:hover{
    background: #c7254e;
    color: black;
}
#navigation{
    height: 40px;
    padding-left: 180px;
    background-color: #dd2727;
    margin: 0;
}
#navigation ul li{
    list-style: none;
    float: left;
}
#navigation a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding:0 50px;
    font-size: 14px;
}
#navigation a:hover{
    color: #ff0f03;
    background: #edeef0;
    background: lightgray;
}
/*内容*/
#content{
    height: 700px;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    background: url("../images/newsbackground.jpg") no-repeat;
    background-size: 100% 700px;
}
/*内容左栏*/

.aside{
    height: 700px;
    width: 30%;
    border-right: #dc1c1f solid 2px;
}
.asidetext {
    text-decoration: #dd2727;
    margin-top: 50px;
    margin-left: 150px;
}
.text{
    display: block;
    width: 160px;
    line-height: 40px;
    background-color: #dd2727;
}
.section{
    height: 700px;
    width: 70%;

}
.titilea a:visited{
    color: black;
}
.titilea a:link{
    color: black;
}
.titilea a:hover{
    color: #dc1c1f;
}
.box1,.box2,.box3,.box4{
    height:175px;

}
.box1 table{
    margin: auto;

}
.box2 table{
    margin: auto;

}
.box3 table{
    margin: auto;

}
.box4 table{
    margin: auto;

}
/*页面底部*/
#footer{
    width: 100%;
    height: 200px;
    background-color: #2f2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertext{
    position: relative;
    width: 100%;
    height: 100px;
}
.footertext p{
    color: aliceblue;
    text-align: center;
    line-height: 50px;
}
